.bottom {
    min-width: 320px;
    max-width: 1024px;
    margin: auto;
    background-color: rgba(236, 238, 247, 0.473);
}


.layout {
    display: flex;
    flex-direction: column;
}

.leftSide {
    background-color: rgba(93, 102, 141, 0.178);
    border-radius: 10px 10px 0px 0px;
    padding: 1rem;
    height: 1200px;
    flex: 1;
    text-align: center;
}

.text-align-left {
    text-align: left;
}
.rightSide {
    background-color: rgba(73, 97, 204, 0.178);
    border-radius: 0px 0px 10px 10px;
    padding: 1rem;
    height: 1200px;
    flex: 1.7;
}

.interests {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.bar {
    background-color:rgba(93, 102, 141, 0.178);
}

#steve {
    width: 240px;
}



.progress {
    height:12px;
}

small {
    font-size: 0.7rem;
    font-weight: 600;
}

.contactIcons {
    display: flex;
    flex-direction: column;
}
.kIcons {
    display: flex;
    flex-direction: column;
}

.contactRow {
    display: flex;
}

ul, p {
    padding: 0;
    margin: 0;
    margin-bottom: 0px !important;
    font-size: 0.8rem;
    font-weight: 500;
}

.adress {
    display: flex;
    flex-direction: column;
}

.uLeft {
    flex:1
}

.uRight {
    flex:2;
    display: flex;
    flex-direction: column;
}

.kLeft {
    flex:1;
    padding-right:1rem;
}
.phoneLeft {
    flex:1;
    padding-top: 0.5rem;
    display: inline-block;
    padding-right:1rem;
}
.envelopeLeft {
    flex:1;
    padding-top: 0.15rem;
    display: inline-block;
    padding-right:1rem;
}

.kRight {
    flex:8;
    display: flex;
    flex-direction: column;
}

H5 {
    font-size: 1rem;
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

p {
    font-size: 0.8rem;
}

/* -------------------------------------------------------------------------------------------- */
/* Extra large devices (large desktops, 768px and up) */
/* -------------------------------------------------------------------------------------------- */

@media (min-width: 768px) { 

    .layout {
        display: flex;
        flex-direction: row;
    }

    .leftSide {
        border-radius: 10px 0px 0px 10px;
        padding: 1rem;
        height: 1250px;
        flex: 1;
        text-align: left;
    }
    .rightSide {
        border-radius: 0px 10px 10px 0px;
        padding: 1rem;
        height: 1250px;
        flex: 1.7;
    }

    H5 {
        font-size: 1.25rem;
        font-weight: 500;
    }

}